@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.content{
  font-family: 'Poppins';
  background-color: #ffffff;
  padding: 1rem 1rem 0rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0,0,0, .05);

}
.dados{
  font-size: 15px;
}
.dados .edit{
  color: blue;

}
.dados a{
  padding-left: 10px;
  font-size: 17px;
}
